<% unless comment.new_record? %>
<div class ="comment">
  <b>Nick:</b>
  <%= comment.alias %> </b>
  <b>Comment:</b>
  <%= comment.comment %>
  <% if user_signed_in? %>
   <%= link_to "LIKE", new_like_path, id: "like", remote: true %>
  <%end%>
</div>
<%end%>
