<% unless comment.new_record? %>
<div class ="comment">
  <b>Nick:</b>
  <%= comment.alias %> </b>
  <b>Comment:</b>
  <%= comment.comment %>

<div id="like">
  <% if user_signed_in? %>
    <% if comment.likes.where(user_id: current_user.id).first.nil? %>
      <%= link_to "LIKE", new_comment_like_path(comment), remote: true %>
    <%else%> 
    <% like=comment.likes.where(user_id: current_user.id).first %>
      <%= link_to "UNLIKE", comment_like_path(comment, comment.likes.first.id), method: :delete, remote: true %> 
    <%end%>
<%end%>
</div>
</div>
<%end%>

